p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: white;
}
body {
  background-color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}